// @import 'bootstrap/dist/css/bootstrap'
@use '@/styles/Header.sass'
@use '@/styles/Sidebar.sass'
@use '@/styles/Products.sass'
@use '@/styles/table.sass'

@tailwind base
@tailwind components
@tailwind utilities

:root
  --background: #8380802f
  --foreground: #171717

// @media (prefers-color-scheme: dark)
//   :root
//     --background: #0a0a0a
//     --foreground: #ededed

body
  color: var(--foreground)
  background: var(--background)
  font-family: Arial, Helvetica, sans-serif
